<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <div class="row">
    <form class="col s12"  action="getData" method="post">
      <!-- Drug name autocompete -->

      <div class="row">
        <div class="input-field col s6">
          <input type="text" id="autocomplete-input" class="autocomplete" name="DrugName">
          <label for="autocomplete-input">Drug Name: </label>
        </div>
        <div class="input-field col s6">
          <input name="DrugDose" id="DrugDose" type="text" class="validate" name="Symptoms">
          <label for="DrugDose">Dosage</label>
        </div>
      </div>

      <!-- drug type cancer type -->
      <div class="row">
        <div class="col s6">
          <label for="DrugType" class="">Start Date</label>
          <input id="DrugType" name="DrugType" type="date" class="">
        </div>
        <!-- end date picker -->
        <div class="col s6">
          <label for="CancerType" class="">End Date</label>
          <input id="CancerType" name="CancerType" type="date" class="">
        </div>
      </div>
      <!-- start date picker -->
      <div class="row">
        <div class="col s6">
          <label for="DrugStartDate" >Start Date</label>
          <input id="DrugStartDate" name="DrugStartDate" type="date" class="datepicker">
        </div>
        <!-- end date picker -->
        <div class="col s6">
          <label for="DrugEndDate" >End Date</label>
          <input id="DrugEndDate" name="DrugEndDate" type="date" class="datepicker">
        </div>
      </div>
      <!-- symptoms, side effects -->
      <div class="row">
        <div class="input-field col s6">
          <input name="Symptoms" id="symptoms" type="text" class="validate">
          <label for="symptoms">Symptoms</label>
        </div>
        <div class="input-field col s6">
          <input id="side_effects" type="text" class="validate" name="Symptoms">
          <label for="side_effects">Symptoms</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/form.js')}}"></script>
</body>
</html>
